<p id="notice"><%= notice %></p>

<p>
  <strong>Id copropietario:</strong>
  <%= @copropietario.id_copropietario %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @copropietario.nombres %>
</p>

<p>
  <strong>Cedula:</strong>
  <%= @copropietario.cedula %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @copropietario.fecha_nacimiento %>
</p>

<p>
  <strong>Actividad:</strong>
  <%= @copropietario.actividad %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @copropietario.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @copropietario.telefono %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @copropietario.celular %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @copropietario.mail %>
</p>

<p>
  <strong>Id edificio:</strong>
  <%= @copropietario.id_edificio %>
</p>

<p>
  <strong>Id departamento:</strong>
  <%= @copropietario.id_departamento %>
</p>

<%= link_to 'Edit', edit_copropietario_path(@copropietario) %> |
<%= link_to 'Back', copropietarios_path %>
